<%= live_component @socket, BalanceComponent,
  available_balance: @available_balance,
  last_withdraw: @last_withdraw,
  last_deposit: @last_deposit %>

<%= live_component @socket, LastestTransactionsComponent,
  lastest_transactions: @lastest_transactions %>